<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shhy.dao.CourseMapper">
    <insert id="insert" parameterType="com.shhy.domain.Course">
       insert into user (cname,tid,location,ctime) values (#{cname},#{tid},#{location},#{ctime})
    </insert>
    <delete id="delete" parameterType="int">
        delete from user where cid=#{cid}
    </delete>
    <update id="update" parameterType="com.shhy.domain.Course">
        update user set cname=#{cname},tid=#{tid},location=#{location},ctime=#{ctime} where cid=#{cid}
    </update>
    <select id="findOne" parameterType="int" resultType="com.shhy.domain.Course">
        select * from user where cid=#{cid}
    </select>
    <select id="findAll" resultType="com.shhy.domain.Course">
        select * from user
    </select>
    <!--    <select id="findOneByUser" resultType="com.shhy.domain.User" parameterType="com.shhy.domain.User">-->
    <!--        select * from USER where username=#{username} and password=#{password}-->
    <!--    </select>-->
    <!--    <select id="findOneByUsername" resultType="com.shhy.domain.User" parameterType="String">-->
    <!--        select * from USER where username=#{username}-->
    <!--    </select>-->
</mapper>